.movie {
  box-shadow: 0px 4px 12px 0px #00000026;
  border: 0;
  border-radius: 0;
  width: 450px;
  height: 280px;
  overflow: hidden;
}

.movie__info {
  padding: 10px 20px 0 0;
  overflow: hidden;
}

.movie__cover {
  width: 183px !important;
  min-height: 280px;
  object-fit: cover;
}

.movie__title {
  margin: 0 !important;
  font-size: 20px !important;
}

.movie__release-date {
  font-size: 12px;
  color: #827e7e;
  font-family: Inter;
}

.movie__genre {
  font-family: Inter;
}

.movie__overview {
  font-size: 12px;
  line-height: 22px;
  font-family: Inter;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.ant-card-body {
  padding: 0 !important;
}

.ant-card-loading {
  padding: 30px;
}
